
   <h1>Kênh youtube của Sang:</h1>
  <button class="subscribe-But" onclick="subcribe()">Subscribe</button>

  <script>

    function subcribe() {
      const temp = document.querySelector('.subscribe-But');
      temp.innerHTML = temp.innerHTML === 'Subscribe' ? 'Subscribed' : 'Subscribe';
    }
  </script>
 
